<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav>
        <ol>
            <li><a href="/users">Users</a></li>
            <li><a href="/adduser">Add User</a></li>
            <li><a href="/users/route-to-post">Add Post</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/tags/new">Add Tag</a></li>
        </ol>
    </nav>
    <h1>{% block header %} {%endblock%}</h1>
    {%block body %}{%endblock%}
</body>

</html>